/*-----------------------------------------Body--------------------------------*/
body{
  list-style: none;
}
header{
  list-style: none;
}

header nav ul li {
  list-style: none;
  display: inline;
  margin-right: 0.2rem;
  font-size: 20px;
  font-family: Georgia;
  display: grid;
}




/*-----------------------------------------Barra de navegacion--------------------------------*/
.navbar {
  margin: 0;
  padding: 0;
}

.navbar.navbar-gray {
  background-color: #e63e3e;
}

.navbar.navbar-gray .nav-link.active {
  background-color: #e63e3e;
  color: #070000;
}

.navbar.navbar-gray .nav-link {
  color: #070000;
  /* Cambia el color de texto a tu elección */
}

/*-----------------------------------------Footer e iconos del mismo--------------------------------*/


ul,
li {
  display: flex;
  list-style: none;
}

.iconos {
  display: flex;
  justify-content: center;
}

.iconos li {
  margin: 0 10px;
}

.iconos img {
  width: 30px;
  height: 30px;
}

footer {
  position: relative;
  background-color: #e63e3e;
  margin: auto;
  top: 80px;
  padding: 20px;
}

.iconos {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook {
  margin-right: 10px;
}

.whatsapp {
  margin-right: 10px;
}

.instagram {
  margin-right: 10px;
}

.titulo {
  text-align: left;
}

/*-----------------------------------------Carrito de compra--------------------------------*/

.iconos_carrito {
  list-style: none;
  display: inline;
  margin-right: 0.2rem;
  font-size: 20px;
  font-family: OCR A Extended;
}

form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 400px;
  /* Esquema del formulario */
  padding: 1em;
  border: 10px solid 5576ff;
  border-radius: 3em;
}